// font size
.fz-1 {
	font-size: 128px;
}

.fz-2 {
	font-size: 40px;
}

.fz-3 {
	font-size: 32px;
}

.fz-4 {
	font-size: 24px;
}

.fz-5 {
	font-size: 20px;
}

// letter spacing
.ls-1 {
	// letter-spacing: 12%;
	letter-spacing: 15.36px;
}

// color
.text-red {
	color: $dark-red;
}
