// navbar
.navbar {
	padding-top: 40px;

	a:hover {
		color: $white;
	}
}

// banner
.banner-intro {
	width: 636px;
}

.contact-btn {
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		border-radius: 32px;
		box-shadow: 4px 4px 10px 0px rgba($white, 0.5);
	}

	&:active {
		transform: scale(1.03);
	}
}

.profile-img {
	margin-right: 24px;
}

// intro
.intro {
	background: no-repeat center center / cover
		url("../images/background-img.png");
}

.intro-content {
	width: 526px;
	margin-right: 24px;

	h2 {
		margin-bottom: 36px;
	}

	p {
		margin-bottom: 32px;
	}
}

.intro-img {
	gap: 24px;
}

.intro-deco {
	gap: 16px;
}

// about me
.about-group {
	width: 636px;
	gap: 24px;

	li {
		width: calc((100% - 24px) / 2);
		padding: 16px;
		border: 1px solid #e3e3e3;
		box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.03);

		display: flex;
		flex-direction: column;
		gap: 4px;
	}
}

.about-content {
	width: 526px;

	h2 {
		margin-bottom: 36px;
	}
}

// contact
.contact {
	background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.contact-title {
	gap: 12px;

	img {
		width: 100px;
		height: 100px;
	}
}

.social-group {
	gap: 20px;

	img {
		transition: border-radius 0.3s ease-in;
	}

	.discord:hover {
		@include box-shadow-social(#9094ff);
	}

	.instagram:hover {
		@include box-shadow-social(#df49ac);
	}

	.message:hover {
		@include box-shadow-social(#07c546);
	}
}

.project {
	h2 {
		width: 746px; //
		margin-left: auto;
		margin-bottom: 16px;
	}
}

.project-group {
	gap: 24px;
}

.project-right {
	flex-direction: column;
	gap: 28px;
}

.project2 {
	gap: 24px;
}

.project2-content {
	flex-direction: column;
}

.seemore-btn {
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		border-radius: 32px;
		box-shadow: 3px 3px 10px rgba($black-1, 0.3);
	}

	&:active {
		transform: scale(1.03);
	}
}

.footer {
	text-align: center;
}
