.h1 {
	font-size: 128px;
}

.h2 {
	font-size: 40px;
}

.fz-1 {
	font-size: 32px;
}

.fs-2 {
	font-size: 24px;
}

.fs-3 {
	font-size: 20px;
}

.lh-1 {
	line-height: 1.5;
}

.text-white {
	color: $white;
}

.text-black-1 {
	color: $black-1;
}

.text-black-2 {
	color: $black-2;
}

.text-green {
	color: $green;
}
