.h1 {
	font-size: 128px;
}

.h2 {
	font-size: 64px;
}

.fs-1 {
	font-size: 24px;
}

.fs-2 {
	font-size: 20px;
}

.lh-1 {
	line-height: 1.5;
}

.text-white {
	color: $white;
}

.text-gray {
	color: $gray;
}

.text-black-1 {
	color: $black-1;
}

.text-black-2 {
	color: $black-2;
}

.text-green {
	color: $green;
}

.text-align-right {
	text-align: right;
}

.bg-black {
	background-color: $black-1;
}

.bg-white {
	background-color: $white;
}

.d-flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

.align-items-start {
	align-items: flex-start;
}

.self-end {
	align-self: flex-end;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

@mixin box-shadow-social($color) {
	border-radius: 40px;
	box-shadow: 0px 0px 16px 3px rgba($color, 0.9);
}
